<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        {% block style %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>{% include 'main/_header.html' %}</header>
        <main class="content">
            {% include 'main/_flash.html' %}
            <!-- <h1 class="content-name">{{ self.title() }}</h1> -->
            {% block content %}{% endblock %}
        </main>
        <footer>{% include 'main/_footer.html' %}</footer>

        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>