{% extends "main/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/gpt.css') }}">
{% endblock %}

{% block title %}
GPT
{% endblock %}

{% block content %}
<div class = 'chat-block'>
    <div class="scrollable-chat-container">
        <a href="{{ url_for('gpt.gpt_page') }}" id="new-chat-button" class="h3 btn btn-primary new-chat-button"><i class="bi bi-plus"></i>&nbsp;New Chat</a>
        <ul class="h3 conversations-to-choice">
            {% for ch_el in choice_elements %}
                <li class="choice-element">
                    <a href="{{ url_for('gpt.gpt_page') }}/{{ ch_el.id }}" class="btn btn-light conversations-to-choice-button text-truncate {% if ch_el.id in request.path.split('/') %}active-choice{% endif %}">{{ ch_el.first_message }}</a><a href="{{ url_for('gpt.delete_chat', chat_id=ch_el.id) }}" class="btn btn-light delete-button"><i class="bi bi-trash3"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="input-chat-container">
        <div id="chat-place" class="chat-place">
            {% for message in messages %}
                <div class="message {{ message.sender }}-message">{{ message.message }}</div>
            {% endfor %}
        </div>
        <div class="text-place">
            <label class="custom-file-label">
                <i class="bi bi-image"></i>
                <input id="fileInput" type="file" class="btn btn-light text-place-img d-none">
            </label>
            <textarea class="form-control type-place" placeholder="Text question here" id="floatingTextarea"></textarea>
            <button type="button" class="btn btn-light text-place-send" id="sendButton">
                <i class="h1 bi bi-send"></i>
            </button>
        </div>
    </div>

    <div class="select-bar">
        <select id="gpt_value" class="form-select">
            {% for gpt in gpts %}
                <option value="{{ gpt }}"
                    {% if model == gpt or (not model and gpt == 'gpt-4o-mini') %}
                        selected
                    {% endif %}>
                    {{ gpt }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const isAuthenticated = {{ current_user.is_authenticated | tojson}};
</script>
<script src="{{ url_for('static', filename='js/gpt_logic.js') }}"></script>
{% endblock %}