{% extends "main/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/gpt.css') }}">
{% endblock %}

{% block title %}
GPT
{% endblock %}

{% block content %}
<div class = 'chat-block'>
    <div class="scrollable-chat-container">
        <div class="new-chat-button">New Chat</div>
        <ul class="conversations-to-choice">
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <li>Элемент 1</li>
            <li>Элемент 2</li>
            <li>Элемент 3</li>
            <!-- Добавьте столько элементов, сколько нужно -->
        </ul>
    </div>

    <div class="input-chat-container">
        <div class="chat-place">
            a
        </div>
        <div class="chat-controls">
            a
        </div>
    </div>

    <div class="select-bar">
        <select class="form-select">
            {% for gpt in gpts %}
            <option value="{{ gpt }}">{{ gpt }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- {% assets 'main_index_js' %}<script src='{{ ASSET_URL }}'></script>{% endassets %} -->
{% endblock %}