@import url('fonts.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Inter;
    background: linear-gradient(45deg, #da55d8cc, #d293bacc, #eb78bbcc, #e375e1cc);
    animation: gradientAnimation 20s infinite;
    background-size: 600% 600%;
    background-attachment: fixed;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
height: 100vh;
padding: 90px;
padding-bottom: 60px;
text-align:justify;
box-sizing: border-box;
}

.content-name {
text-align:center;
}

.h1, h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: unset;
}

.h2, h2 {
  margin-bottom: unset;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
}

.h3, h3{
  font-family: Inter;
  font-size: 16px;
  margin-bottom: unset;
}

/* ползунок */
* {
  scrollbar-width:thin;
  scrollbar-color: #e29cf0 #241f27;
}

.flash-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flash-message {
  display: flex;
  flex-direction: row;
  border-radius: 25px; /* Делаем углы скруглёнными */
  padding: 10px 20px;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}
