@import url('fonts.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: Inter;
      background: linear-gradient(45deg, #da55d8cc, #d293bacc, #eb78bbcc, #e375e1cc);
      animation: gradientAnimation 20s infinite;
      background-size: 600% 600%;
  }

  @keyframes gradientAnimation {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }


  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5c0f4cc;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 40px 40px;
    z-index: 1000;
    overflow: hidden;
  }

  header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      pointer-events: none;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 50%);
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease;
  }


  header:hover::before {
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) scale(2);
  }

  header h1 {
    color: #000000cc;
  }

  header nav {
    display: flex;
    gap: 20px;
  }

  header a {
    text-decoration: none;
    color: #000000cc;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }

  header a:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  .login-btn {
    padding: 10px 25px;
    font-size: 1.1rem;
    color: #003973;
    background: linear-gradient(135deg, #FFD700, #FF4500);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .login-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px #000000cc;
  }

  .content {
    padding: 120px 40px;
    text-align: center;
  }

.h1{
  font-family: Inter;
  font-size: 600;
}

.h2{
  font-family: Inter;
  font-size: 400;
}