@import url('fonts.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100hv;
    font-family: Inter;
    background: linear-gradient(45deg, #da55d8cc, #d293bacc, #eb78bbcc, #e375e1cc);
    animation: gradientAnimation 20s infinite;
    background-size: 600% 600%;
    background-attachment: fixed;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
height: 100vh;
padding: 90px 90px;
text-align:justify;
box-sizing: border-box;
}

.content-name {
text-align:center;
}

.h1, h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
}

.h2, h2 {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
}
